* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--black)
}

body {
    margin: 0;
    padding: 0;
    display: grid;
}

h3 {
    justify-items: center;
    align-items: center;
    color: var(--blue);
}
