header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 30px;
  }
  
  .logo-container {
    background: var(--yellow);
    width: 100%;
    height: 120px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .logo-container img {
    height: 100px;
    display: block;
  }
  
  .text-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 80%;
    margin: 0 auto;
  }
  
  .text-container h1 {
    padding-top: 130px;
    padding-bottom: 10px;
    font-size: 24px;
    color: var(--purple);
  }
  
  .text-container p {
    font-size: 18px;
    color: var(--black);
    width: 100%;
  }
  
  .heading {
    display: flex;
    flex-direction: column;
    gap: 14px;
    margin-bottom: 24px;
  }
  
  .heading-border {
    height: 12px;
    width: 40%;
    background-color: var(--purple);
  }
  
  .cards h2 {
    font-size: 30px;
    font-weight: bold;
    color: var(--purple);
    margin: 0 auto;
    padding-top: 24px;
    letter-spacing: 2px;
  }
  
  @media (max-width: 768px) {
    .text-container h1 {
      font-size: 20px;
    }
    .text-container p {
      font-size: 16px;
    }
    .cards h2 {
      font-size: 24px;
    }
  }
  