<header>
    <div class="logo-container">
        <img src="assets/images/logo.png" alt="logo" />
    </div>
    <div class="text-container">
        <div class="heading">
            <h1>Dog's Life & Dog is Life.<br/> Either way, life is simply better with a dog!</h1>
            <span class="heading-border"></span>
        </div>
        <p>Dogs bring joy, companionship, and unconditional love into our lives. Whether they’re running by your side, greeting you with a wagging tail, or simply being there, life with a dog is a life well-lived. Ready to find your new best friend?</p>
    </div>  
    <div class="cards">
        <h2>D • O • G • S </h2>
    </div>
</header>  