.dog-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, auto);
  justify-items: center;
  gap: 20px; 
  overflow-x: auto;
  width: 80%;
  margin: 0 auto;
}

@media (max-width: 1024px) {
  .dog-grid {
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, auto);
    overflow-x: auto;
    width: 80%;
  }
}
